﻿@using UPC.TP3.Dominio.Entidades

@{
    ViewBag.Title = "Empleados";
    List<Empleado> empleados = ViewBag.empleados as List<Empleado>;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "" })">Inicio</a></li>
    <li><a href="@Url.Action("Index", "", new { area = "Mantenimientos" })">Mantenimientos</a></li>
    <li class="active">@ViewBag.Title</li>
</ol>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Empleado_ID
        </th>
        <th>
            nombre
        </th>
        <th>
            cargo
        </th>
        <th>
            usuario
        </th>
        <th>
            password
        </th>
        <th>
            tipoDocumento
        </th>
        <th>
            nroDocumento
        </th>
        <th>
            sede
        </th>
        <th></th>
    </tr>

@foreach (var item in empleados) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cargo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipoDocumento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nroDocumento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sede)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
