﻿@using UPC.TP3.Dominio.Entidades

@{
    ComprobantePago comprobantepago = ViewBag.comprobantepago as ComprobantePago;
    
    List<Empleado> empleados = ViewBag.empleados as List<Empleado>;
    List<TurnoCaja> turnoCajas = ViewBag.turnoCajas as List<TurnoCaja>;
    List<TipoMoneda> tipoMonedas = ViewBag.tipoMonedas as List<TipoMoneda>;

    ViewBag.Title = "Registrar Comprobante de Pago ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "" })">Inicio</a></li>
    <li><a href="@Url.Action("Index", "", new { area = "FacturacionCaja" })">Facturación y Caja</a></li>
    <li><a href="@Url.Action("ComprobantePago", "", new { area = "FacturacionCaja" })">Facturación y Caja</a></li>
    <li class="active">@ViewBag.Title</li>
</ol>

@{
    if (@comprobantepago != null)
    {
        <div class="alert alert-success" role="alert">
            <p><strong>Se registró correctamente el comprobante de pago</strong></p>
            <p>Fecha y hora: @comprobantepago.fecha </p>
            <p>Comprobante de pago: @comprobantepago.tipoComprobante " - " @comprobantepago.nroDocumento</p>
        </div>
    }
}

@{
    if (@ViewBag.exception != null && @ViewBag.exception != "")
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.exception
        </div>
    }
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ComprobantePago</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="form-group">
            @Html.LabelFor(model => comprobantepago.montoRecibido, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => comprobantepago.montoRecibido, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => comprobantepago.montoRecibido, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => comprobantepago.tipoCambio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => comprobantepago.tipoCambio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => comprobantepago.tipoCambio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => comprobantepago.tipoComprobante, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => comprobantepago.tipoComprobante, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => comprobantepago.tipoComprobante, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => comprobantepago.razonSocial, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => comprobantepago.razonSocial, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => comprobantepago.razonSocial, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => comprobantepago.medioPago, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => comprobantepago.medioPago, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => comprobantepago.medioPago, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => comprobantepago.TipoMoneda_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <select id="comprobantepago_TipoMoneda_ID" name="comprobantepago.TipoMoneda_ID" class="form-control">
                <option value="">Escoger</option>
                @foreach (var tipoMoneda in tipoMonedas)
                {
                    <option value="@tipoMoneda.TipoMoneda_ID">
                        @tipoMoneda.descripcion
                    </option>
                }
            </select>
            @Html.ValidationMessageFor(model => comprobantepago.TipoMoneda_ID, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
