﻿@using UPC.TP3.Dominio.Entidades

@{
    ComprobantePago comprobantepago = ViewBag.comprobantepago as ComprobantePago;
    ViewBag.Title = "Comprobante de Pago:  " + comprobantepago.ComprobantePago_ID;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "" })">Inicio</a></li>
    <li><a href="@Url.Action("Index", "", new { area = "FacturacionCaja" })">Facturación y Caja</a></li>
    <li><a href="@Url.Action("Index", "ComprobantePago", new { area = "FacturacionCaja" })">Comprobantes de Pago</a></li>
    <li class="active">@ViewBag.Title</li>
</ol>

<div>
    <h4>ComprobantePago</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ComprobantePago_ID
        </dt>

        <dd>
            @Html.DisplayFor(model => comprobantepago.ComprobantePago_ID)
        </dd>

        <dt>
            fecha
        </dt>

        <dd>
            @Html.DisplayFor(model => comprobantepago.fecha)
        </dd>

        <dt>
            hora
        </dt>

        <dd>
            @Html.DisplayFor(model => comprobantepago.hora)
        </dd>

        <dt>
            montoRecibido
        </dt>

        <dd>
            @Html.DisplayFor(model => comprobantepago.montoRecibido)
        </dd>

        <dt>
            estado
        </dt>

        <dd>
            @Html.DisplayFor(model => comprobantepago.estado)
        </dd>

        <dt>
            tipoCambio
        </dt>

        <dd>
            @Html.DisplayFor(model => comprobantepago.tipoCambio)
        </dd>

        <dt>
            montoComprobante
        </dt>

        <dd>
            @Html.DisplayFor(model => comprobantepago.montoComprobante)
        </dd>

        <dt>
            tipoComprobante
        </dt>

        <dd>
            @Html.DisplayFor(model => comprobantepago.tipoComprobante)
        </dd>

        <dt>
            nroDocumento
        </dt>

        <dd>
            @Html.DisplayFor(model => comprobantepago.nroDocumento)
        </dd>

        <dt>
            razonSocial
        </dt>

        <dd>
            @Html.DisplayFor(model => comprobantepago.razonSocial)
        </dd>

        <dt>
            igv
        </dt>

        <dd>
            @Html.DisplayFor(model => comprobantepago.igv)
        </dd>

        <dt>
            vuelto
        </dt>

        <dd>
            @Html.DisplayFor(model => comprobantepago.vuelto)
        </dd>

        <dt>
            medioPago
        </dt>

        <dd>
            @Html.DisplayFor(model => comprobantepago.medioPago)
        </dd>

        <dt>
            montoDescuento
        </dt>

        <dd>
            @Html.DisplayFor(model => comprobantepago.montoDescuento)
        </dd>

        <dt>
            Empleado_ID
        </dt>

        <dd>
            @Html.DisplayFor(model => comprobantepago.Empleado_ID)
        </dd>

        <dt>
            TurnoCaja_ID
        </dt>

        <dd>
            @Html.DisplayFor(model => comprobantepago.TurnoCaja_ID)
        </dd>

        <dt>
            TipoMoneda_ID
        </dt>

        <dd>
            @Html.DisplayFor(model => comprobantepago.TipoMoneda_ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
