﻿@using UPC.TP3.Dominio.Entidades

@{
    ViewBag.Title = "Comprobantes de pago";
    List<ComprobantePago> comprobantepagos = ViewBag.comprobantepagos as List<ComprobantePago>;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "" })">Inicio</a></li>
    <li><a href="@Url.Action("Index", "", new { area = "FacturacionCaja" })">Facturación y Caja</a></li>
    <li class="active">@ViewBag.Title</li>
</ol>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            fecha y hora
        </th>
        <th>
            montoRecibido
        </th>
        <th>
            estado
        </th>
        <th>
            montoComprobante
        </th>
        <th>
            tipoComprobante
        </th>
        <th>
            nroComprobante
        </th>
        <th></th>
    </tr>

@foreach (var item in comprobantepagos) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.montoRecibido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.montoComprobante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipoComprobante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nroDocumento)
        </td>
        
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ComprobantePago_ID  })
        </td>
    </tr>
}

</table>
