﻿@{
    ViewBag.Title = "Inicio";
}

<ol class="breadcrumb">
    <li class="active">@ViewBag.Title</li>
</ol>

<div class="jumbotron">
    <h1>GESTIÓN DE FACTURACIÓN Y CAJA</h1>
    <p class="lead">SISTEMA INTEGRADO DE INFORMACIÓN PARA LA VETERINARIA PET CENTER</p>
</div>